In [47]:
from countryinfo import CountryInfo
import pandas as pd
import numpy as np
import world_bank_data as wb

In [27]:
coverage=pd.read_excel('cuebiq-coverage.xlsx',header=None,names=['code','name','MAU','DAU'])

In [59]:
pops=wb.get_series('SP.POP.TOTL', mrv=1,simplify_index=True)
pops.index.name='name'

In [41]:
coverage['name']=coverage['name'].replace('Great Britain','United Kingdom')

In [69]:
merged=pd.merge(coverage,pops.reset_index())

In [73]:
merged['%MAU']=merged.MAU/merged['SP.POP.TOTL']
merged['%DAU']=merged.DAU/merged['SP.POP.TOTL']

In [75]:
merged.to_csv('coverage.csv')

In [76]:
merged.head()

  code           name       MAU       DAU   SP.POP.TOTL      %MAU      %DAU
0   US  United States  30000000  20000000  3.271674e+08  0.091696  0.061131
1   CA         Canada   1997914    685624  3.705886e+07  0.053912  0.018501
2   IT          Italy   1502215    754765  6.043128e+07  0.024858  0.012490
3   MX         Mexico    968340    322984  1.261908e+08  0.007674  0.002559
4   IN          India    918252    504603  1.352617e+09  0.000679  0.000373